* {
    margin: 0;
    padding: 0;
    color: #faf3f3;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1rem;
    overflow: hidden;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button,
input,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

header {
    display: flex;
    background-color: rgb(7, 0, 0);
    height: 50px;
    padding: 0.5rem 0rem;
    align-items: center;
    justify-content: space-around;
}
header p {
    /* background-color: aqua; */
    font-size: 1.2rem;
}
header img {
    /* padding-left: 2rem; */
    padding-right: 0.8rem;
    max-width: 200px;
    height: 60%;
}
header .largeLogo {
    display: block;
}
header .smallLogo,
.hamburger {
    display: none;
}
header p i {
    /* background-color: aqua; */
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-grow: 1;
    font-size:0.9rem;
}

main nav {
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    background-color: #fff;
    color: rgb(7, 0, 0);
    padding: 4px 4px;
    height: calc(100vh - 50px)
}
nav.on {
    display: block;
}

nav li a {
    /* background-color: gray; */
    color: rgb(7, 0, 0);
    padding: 3px 5px;
    display: block;
    width: 100%;
}
nav li a.on {
    background-color: #111111;
    color: #fff;
}

nav li a:hover {
    /* background-color: gray; */
    color: #42b4d6;
}

section {
    /* background-color: black; */
    flex-grow: 1;
}
iframe {
    border: none;
    width: 100%;
    height: 100%;
    /* overflow:hidden; */
}
.code {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 0px;
    background-color: rgb(1, 6, 12);
    opacity: 0.9;
    z-index: 999;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
}

@media screen and (max-width: 768px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
    header img {
        max-height: 50px;
    }
    header .largeLogo {
        display: none;
        padding-right: 10px;
    }
    header .smallLogo,
    .hamburger {
        display: block;
    }
    header p i {
        display: block;
    }
    nav {
        display: none;
    }
}
