// https://nykim.work/97
// https://highlightjs.org/usage/

$color: #fff;
$backColor: #111;
$headerHeight: 60px;
$fontSize: 1rem;
$navWidth: 300px;
$sectionLeftMargin: 10px;
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border : 1px solid red;  */
}
body {
    // font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
    height: 100vh;
}
a {
    text-decoration-line: none;
}

/* ********************************************* */
/* header */

header {
    height: $headerHeight;
    padding: 10px;
    width: 100%;
    background-color: $backColor;
    color: $color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 90%;
    }
    ul {
        list-style: none;

        li {
            display: inline-block;
            margin: 0 5px;

            button {
                border-radius: 3px;
                border: 0;
                padding: 2px 4px;
                background-color: $color;
                color: $backColor;
            }
        }
    }
}

/* ********************************************* */
/* main  */
main {
    display: flex;

    /* nav */
    nav {
        flex: 0 0 $navWidth;
        /* flex-grow:0, flex-shrink: 0, fiex-basis:300px; */
        /* flex-grow=0: 늘어나지 않음 (기본값 0)  
        /* flex-shrink=0: 작아지지 않음 (기본값 1) 
        /* flex-basis=300px : 기본크기 300px  (기본값: auto) */
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - $headerHeight);
        padding: 5px;
        ul {
            list-style: none;

            li {
                padding: 5px 5px;
                margin: 0 10px;

                a {
                    display: block;
                    width: 100%;
                    padding: 5px;
                    color: $backColor;
                    transition: all 1s ease;

                    &.active {
                        background-color: $backColor;
                        color: $color;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    /* ********************************************* */
    /* section */

    section {
        width: calc(100vw - $navWidth);
        margin-left: $sectionLeftMargin;
        overflow-y: auto;
        padding: 10px;
        height: calc(100vh - $headerHeight);

        article {
            font-size: $fontSize * 0.9;
            line-height: 2 * $fontSize;
            width: 80%;
            ul,
            ol {
                margin-left: $sectionLeftMargin;
                li {
                    margin-left: $sectionLeftMargin;
                }
            }
            hr {
                width: 80%;
            }

            h1 {
                font-size: 1.7 * $fontSize;
            }
            h2 {
                font-size: 1.3 * $fontSize;
            }
            h3 {
                font-size: 1.2 * $fontSize;
            }

            h4 {
                font-size: 1.1 * $fontSize;
            }

            p {
                font-size: 0.9 * $fontSize;
            }
            iframe {
                width: 90%;
                height: 500px;
                border: 1px solid #eee;
            }
            code {
                width: 90%;
                overflow: auto;
                overflow-wrap: break-word;
                font-family: monospace;
                font-size: 0.8 * $fontSize;
                // min-width: 900px;
                display: block;
                border-radius: 10px;
                background-color: #333333;
                color: $color;
                padding-right: 20px;
                line-height: 1.2 * $fontSize;

                span {
                    color: #ff5100;
                    font-weight: bold;
                    &.value {
                        font-family: monospace;
                        color: #00ff00;
                        font-weight: normal;
                    }
                    &.reserved {
                        font-weight: normal;
                        color: #00ffff;
                    }
                }
            }
        }
    }
}

.center {
    text-align: center;
}
